<div class="row">
    <div class="col-sm-2">
        <div class="container-fluid">
            <div id="imageFriendContainer">
                <img src="~/Content/samplePicture/facebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="well">
            <p id="profileName">Shawn Aragon</p>
            <p>Friends: 0</p>
            <p><span class="glyphicon glyphicon-plus"></span> Find Friends</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="container-fluid">
                <h4>Friends</h4>
                <hr />
                <div id="friendContainer">
                    <div class="container-fluid" id="friend">
                        <div class="col-sm-8">
                            <p id="friendName">Sample_Friend_Name</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="friendOption" data-toggle="dropdown"><span class="glyphicon glyphicon-ok"></span>&nbsp; Friends&nbsp;<span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="notificationList">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">block</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
