<div class="col-sm-2">
    <div class="container">
        <div id="imageContainer">
            <img src="~/Content/samplePicture/facebook-avatar.jpg" class="img-responsive" id="homeProfilePic" />
        </div>

        <div>
            <p id="profileName">Shawn Aragon</p>
            @*<p id="editUser">Edit Profile</p>*@
            <p id="userFriend">Friends</p>
        </div>
    </div>
</div>
<div class="col-sm-8">   
    <div class="well">
        <div class="container-fluid">
            <textarea class="form-control" rows="3" placeholder="What's on your mind?"></textarea>                
            <hr />
            <input type="button" id="postBtn" value="Post" class="btn btn-primary pull-right" />
        </div>
    </div>

    <div class="well">
        <div class="container-fluid">
            <p id="posterName">Shawn Aragon</p>
            <p id="postDate">8 October at 14:11</p>
            <p id="postContent">Status ... status ... status.</p>
            <hr />
            <a href="#">Like</a>
            <hr />
            <textarea class="form-control" id="addComment" rows="3" placeholder="Write a comment..."></textarea>
            <hr />
            <input type="button" id="commentBtn" value="Add comment" class="btn btn-primary pull-right" />
        </div>
    </div>  
</div>
<div class="col-sm-2">
</div>

