<div class="col-sm-7"></div>
<div class="col-sm-5">
    <h2>Sign Up</h2>
    <h6>It's free and always will be.</h6>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email address" />
        </div>     

        <div class="form-group">
            <input type="text" id="firstName" class="form-control" placeholder="First name" />
        </div>
        <div class="form-group">
            <input type="text" id="surName" class="form-control" placeholder="Last name" />
        </div>   
           
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Password" />
        </div> 
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Confirm password" />
        </div> 
        <div class="form-group">
            <p>Birthday</p>
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-control" id="month">
                        <option>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="month">
                        <option>Month</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="month">
                        <option>Year</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2014</option>
                    </select>
                </div>
            </div>  
        </div>
        <div class="form-group">
            <label class="radio-inline"><input type="radio" name="optradio">Female</label>
            <label class="radio-inline"><input type="radio" name="optradio">Male</label>
        </div>
        <input type="submit" value="Create Account" class="btn btn-success input-lg" />
    </form>
</div>
